<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Access TODOs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>
<div>
    <h2>Login</h2>
    <input type="text" id="username" placeholder="Username">
    <input type="password" id="password" placeholder="Password">
    <button onclick="login()">Login</button>
    <button onclick="register()">Register</button>
</div>


<div>

    <button onclick="logout()">Logout</button>
    <input id="todoContent" placeholder="New TODO content">
    <button onclick="addTodo()">Add TODO</button>

</div>

<div>
    <input type="text" id="searchQuery" placeholder="Search for TODOs...">
    <button onclick="searchTodos()">Search</button>
</div>
<div>
    <button onclick="fetchTodos()">显示全部TODOs</button>
</div>



<div>
    <h2>Your TODOs</h2>
    <ul id="todos"></ul>
</div>







<script src="http://127.0.0.1:8080/static/app.js"></script>
</body>
</html>

